.foo {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.foo {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.map{
  text-align: center;
}
.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: #fab301;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
path:hover {
  fill: #126f6f;
  stroke-width: 1.5;
}
path {
  cursor: pointer;
  stroke-opacity: 1;
  stroke-linejoin: round;
  fill-opacity: 1;
  stroke-width: 0.8;
}
path:focus {
  visibility: hidden;
}
