svg {
  margin-top: 30px;
}
.foo {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: #fab301;
}
.navbar {
  height: 60px;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 890;
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fab301 !important;
  box-shadow: 0 0 0 1px #fab301, 0 2px 17px 2px rgb(46, 46, 46, 0.1);
}
.navbar.active {
  background-color: #fab301;
}
.navbar .form-inline .form-control {
  background: rgba(225, 225, 225, 0.2);
  border: 1px solid rgba(225, 225, 225, 0.1);
  border-radius: 3px;
  color: #fff;
  padding: 0.35rem 0.75rem;
  width: 100%;
}
.navbar .form-inline .btn {
  border-radius: 0;
  padding: 5px 15px 6px 15px;
  border-color: transparent;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.search-element {
  padding-right: 10px !important;
}
.navbar-nav .input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 2.5rem;
  pointer-events: none;
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
.navbar .nav-link {
  color: #fff;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.navbar .nav-link.beep {
  position: relative;
}
.navbar .nav-link.beep:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  width: 7px;
  height: 7px;
  background-color: #ffb209;
  border-radius: 50%;
}
.navbar .nav-link.nav-link-lg {
}
.nav-link {
}
.navbar .nav-link.nav-link-lg div {
  margin-top: 3px;
}
.navbar .nav-link.nav-link-lg i {
  font-size: 17px;
  margin-top: 6px;
}
.navbar .sub-item {
  background-color: #fff;
  border-top: 0;
  padding: 10px 0;
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  z-index: 9999;
  /* color: #111; */
  top: 4px;
}
.dropdown .dropdown-list-toggle {
  display: inline;
}
.navbar .sub-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.navbar .sub-item ul a {
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 13px;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.remove-caret:after {
  display: none;
}
.navbar .nav-link:hover {
  color: #f2f2f2;
}
.navbar .nav-link.disabled {
  color: #fff;
  opacity: 0.6;
}
.nav-tabs .nav-item .nav-link {
  color: #fab301;
}
.nav-tabs .nav-item .nav-link.active {
  color: #800c6f;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #f3ebf3 #f3ebf3 #fff;
}
.tab-content > .tab-pane {
  padding: 10px 0;
  line-height: 24px;
}
.tab-bordered .tab-pane {
  padding: 15px;
  border: 1px solid #f3ebf3;
  margin-top: -1px;
}
.nav-pills .nav-item .nav-link {
  color: #fab301;
  border-radius: 30px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background: #fab301;
}
.nav-pills .nav-item .nav-link .badge {
  padding: 5px 8px;
  margin-left: 5px;
}
